@use '../helpers/mixins' as *;

.home__coutry-card-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    column-gap: 4.1rem;
    row-gap: 2rem;

    @include media-home() {
        justify-content: center;
        padding-bottom: 3rem;
    }

    .country-card {
        border-radius: 5px; 
        overflow: hidden;
        box-shadow: 2px 2px 15px var(--clr-neutral-500);
    
        &__img {
            height: 150px;
            width: 100%;
            object-fit: cover;
        }

        &__info {
            padding: 1rem 1rem 2rem 1rem;
            background-color: var(--clr-neutral-200);
            color: var(--clr-neutral-300);

            &__title {
                font-weight: 800;
                font-size: 1.2rem;
                margin-bottom: 15px;
            }

            &__detail {
                margin-top: 5px;
                font-size: 0.9rem;
                strong {
                    font-weight: 600;
                }

                span {
                    font-weight: 300;
                    color: var(--clr-neutral-400);
                }
            }
        }
    }
}

