@use '../helpers/mixins' as *;

.country-details {
    margin-top: 3rem;

    @include media-country-detail() {
        padding-bottom: 3rem;
    }
    &__back-link {
        padding: 0.2rem 1.2rem;
        box-shadow: 2px 2px 15px var(--clr-neutral-500);
        text-align: center;
        background-color: var(--clr-neutral-200);
        color: var(--clr-neutral-300);
        border-radius: 5px;
    }

    &__country-detail {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: clamp(2rem, 5vw, 50rem);
        overflow: hidden;
        
        @include media-country-detail() {
            grid-template-columns: 1fr;
            gap: 2rem;
        }

        &__img {
            width: 100%;
            height: 300px;
            object-fit: cover;

            @include media-country-detail() {
                object-fit: contain;
            }
        }
        
        &__info {
            color: var(--clr-neutral-300);
            align-self: center;
            justify-self: center;
            width: 100%;
            &__title {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            &__props {
                margin-top: 0.6rem;
                strong {
                    font-weight: 600;
                }
                span {
                    color: var(--clr-neutral-400);
                }
            }

            &__border-countries {
                margin-top: 4rem;
                display: grid;
                grid-template-columns: 150px auto ;
                gap: 1rem;
                padding-bottom: 10px;
                span {
                    display: inline-flex;
                    gap: 1rem;
                    flex-wrap: wrap;
                    a {
                        @extend .country-details__back-link;
                    }
                }
            }

            .two-columns {
                columns: 2 auto;

                @include media-country-detail() {
                    columns: 1;
                }
                
            }
        }
    }
}