.not-found {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__title {
        font-size: 7rem;
        line-height: 1;
        color: var(--clr-neutral-300);
    }
    &__message {
        color: var(--clr-neutral-300);
        font-size: 1.2rem;
        text-align: center;
        font-weight: 600;
    }
    &__link {
        display: inline-block;
        margin-inline: 2rem;
        margin-top: 1rem;
        background-color: var(--clr-neutral-300);
        padding: 0.5rem 1rem;
        color: var(--clr-neutral-100);
        text-align: center;
        border-radius: 0.3rem;   
    }
}